#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

#wrapper,
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wrapper {
  width: 100vw;
}

#nav {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.article {
  margin: 20px;
}
img {
  width: 50%;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 20px 2rem;
}

li {
  border: 1px solid white;
  list-style-type: none;
  text-align: center;
}

ul p {
  margin: 20px 2rem;
}
