#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

#wrapper,
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wrapper {
  width: 100vw;
}

#nav {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.article {
  margin: 20px;
}

.vote-icon {
  font-size: 25px;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.vote-icon:hover {
  transform: scale(1.25);
}

.vote-icon:focus {
  transform: scale(1);
}

.vote-icon:first-of-type {
  margin: 0 10px;
}

.vote-icon:last-of-type {
  margin-left: 10px;
}

.upvote-icon {
  color: rgb(239, 81, 81);
}
.downvote-icon {
  color: rgb(81, 173, 239);
}

.error {
  color: rgb(239, 81, 81);
}

.comment-btn {
  align-self: flex-start;
  margin-left: 2rem;
  padding: 5px 10px;
  cursor: pointer;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.form-wrapper {
  display: flex;
  width: 50%;
}

.submit-btn {
  width: 25%;
  margin-top: 15px;
}

img {
  width: 50%;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 20px 2rem;
}

li {
  border: 1px solid white;
  list-style-type: none;
  text-align: center;
}

ul p {
  margin: 20px 2rem;
}
